.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-3,
.col-lg-9 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width:992px) {
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

.table-cart {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table-cart td,
.table-cart th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table-cart thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none;
    }
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.cart .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .cart .btn {
        transition: none;
    }
}

.cart .btn:hover {
    color: #212529;
    text-decoration: none;
}

.cart .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.cart .btn:disabled {
    opacity: .65;
}

.cart .btn-block {
    display: block;
    width: 100%;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group>.form-control:focus {
    z-index: 3;
}

.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-append,
.input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.input-group-append .cart .btn,
.input-group-prepend .cart .btn {
    position: relative;
    z-index: 2;
}

.input-group-append .cart .btn:focus,
.input-group-prepend .cart .btn:focus {
    z-index: 3;
}

.input-group-prepend {
    margin-right: -1px;
}

.input-group-append {
    margin-left: -1px;
}

.input-group>.input-group-prepend>.cart .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>.input-group-append>.cart .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #80bdff;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-control-input:disabled~.custom-control-label {
    color: #6c757d;
}

.custom-control-input:disabled~.custom-control-label::before {
    background-color: #e9ecef;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.custom-radio .custom-control-label::before {
    border-radius: 50%;
}


.custom-radio .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(0, 123, 255, .5);
}

.custom-control-label::before {
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .custom-control-label::before {
        transition: none;
    }
}


.row {
    margin-left: -10px;
    margin-right: -10px;
}

.col-lg-3,
.col-lg-9 {
    padding-right: 10px;
    padding-left: 10px;
}

.container {
    width: 1188px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.page-content {
    padding-bottom: 5rem;
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}


.cart .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .85rem 1.5rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -.01em;
    min-width: 170px;
    border-radius: 0;
    white-space: normal;
    transition: all 0.3s;
}

.cart .btn span {
    line-height: 1;
    font-size: 16px;
}

.cart .btn i:first-child {
    margin-right: 1rem;
}

.cart .btn i:last-child {
    margin-left: 1rem;
}

.cart .btn:focus {
    box-shadow: none;
}

.cart .btn:focus,
.cart .btn:active {
    outline: none !important;
}

.cart .btn:active:focus {
    box-shadow: none !important;
}

.cart .btn:active {
    outline: none;
}

.cart .btn-outline-primary-2 {
    color: #da627d;
    background-color: transparent;
    background-image: none;
    border-color: #da627d;
    box-shadow: none;
    font-size: 16px;
}

.cart .btn-outline-primary-2:hover,
.cart .btn-outline-primary-2:focus,
.cart .btn-outline-primary-2:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #da627d;
    border-color: #da627d;
    box-shadow: none;
    font-size: 16px;
}

.cart .btn-outline-primary-2:disabled {
    color: #da627d;
    background-color: transparent;
}

.cart .btn-outline-dark-2 {
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #ebebeb;
    box-shadow: none;
}

.cart .btn-outline-dark-2:hover,
.cart .btn-outline-dark-2:focus,
.cart .btn-outline-dark-2:not(:disabled):not(.disabled):active {
    color: #da627d;
    background-color: #fafafa;
    border-color: #ebebeb;
    box-shadow: none;
}

.cart .btn-outline-dark-2:disabled {
    color: #333;
    background-color: transparent;
}

.product {
    position: relative;
    margin-bottom: 1rem;
    transition: box-shadow .35s ease;
    background-color: #fff;
}

.product:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.product-media {
    position: relative;
    display: block;
    background-color: #d7d7d7;
    margin-bottom: 0;
    overflow: hidden;
}

.product-media>a {
    display: block;
}

.product-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: -.01em;
    color: #333333;
    margin-bottom: .2rem;
}

.product-title a {
    color: inherit;
}

.product-title a:hover,
.product-title a:focus {
    color: #da627d;
}

.cart .form-control {
    height: 40px;
    padding: 20px 30px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    color: #777;
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 0;
    margin-bottom: 2rem;
    transition: all 0.3s;
    box-shadow: none;
}

.form-control:focus {
    color: #777;
    background-color: #fff;
    border-color: #da627d;
    box-shadow: none;
    outline: none !important;
}

.form-control::placeholder {
    color: #777;
}

label {
    color: #666;
    font-weight: 300;
    font-size: 14px;
    margin: 0 0 1.1rem;
}

.custom-control {
    position: relative;
    padding-left: 2.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.custom-control-label {
    position: static;
    margin-bottom: 0;
    font-size: 14px;
    margin-top: 6px;
}

.custom-control-label::before {
    left: 0;
    top: .6rem;
    width: 20px;
    height: 20px;
    background-color: #f9f9f9;
    border: 1px solid #dadada;
    box-shadow: none !important;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #dadada;
}

.custom-control-label::after {
    left: 0;
    top: .6rem;
    width: 20px;
    height: 20px;
}

.custom-control.custom-radio .custom-control-label::before {
    top: .4rem;
    background-color: #f9f9f9;
    border-color: #dadada;
    border-radius: 50%;
}

.custom-control.custom-radio .custom-control-input:checked~.custom-control-label::before {
    border-color: #da627d;
    background-color: #fff;
}

.custom-control.custom-radio .custom-control-label::after {
    border-radius: 50%;
    width: 0.4rem;
    height: .4rem;
    top: 0.72rem;
    left: 0.4rem;
}

.custom-control.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: none !important;
    z-index: 2;
    background-color: #da627d;
}

.table-cart {
    margin-bottom: 3rem;
}

.table-cart th {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #999;
}

.table-cart th,
.table-cart thead th,
.table-cart td {
    border-top: none;
    border-bottom: .1rem solid #ebebeb;
}

.table-cart th,
.table-cart td {
    padding-left: 0;
    padding-right: 0;
    padding-top: 14px;
    padding-bottom: 14px;
}

.table-cart td {
    vertical-align: middle;
}

button:focus {
    outline: none;
}

.product {
    overflow: hidden;
}

.summary {
    padding: 0.5rem 1rem 1rem;
    border: .1rem dashed #d7d7d7;
    background-color: #f9f9f9;
    border-radius: .3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.summary-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0;
    padding-bottom: 1.7rem;
    border-bottom: .1rem solid #cccccc;
    margin-bottom: 2.1rem;
}

.table.table-summary {
    line-height: 1.43;
    color: #666;
    border: none;
    margin-bottom: 0;
}

.table.table-summary a {
    color: inherit;
}

.table.table-summary a:hover,
.table.table-summary a:focus {
    color: #da627d;
}

.table.table-summary .summary-subtotal td {
    color: #333;
    font-weight: 400;
    font-size: 20px;
}

.table.table-summary tbody td {
    padding: 0;
    height: 70px;
    border-bottom: .1rem solid #ebebeb;
}

.table.table-summary tbody td {
    vertical-align: middle;
    border-top: none;
}

.table.table-summary tbody td:last-child {
    text-align: right;
    min-width: 100px;
}

.table.table-summary .summary-total td {
    font-weight: 400;
    font-size: 20px;
    color: #da627d;
    border-bottom: none;
}

@media screen and (min-width: 992px) {
    .summary {
        margin-top: 0;
    }
}

.table-cart td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.table-cart .price-col {
    width: 180px;
    color: #333;
    font-weight: 400;
    font-size: 20px;
}

.table-cart .remove-col {
    padding-right: 0;
    padding-left: 0;
    width: 38px;
    text-align: right;
}

.table-cart .remove-col .cart .btn-remove {
    margin-right: -.7rem;
}

.product-col .product {
    display: flex;
    align-items: center;
    margin: 0;
    padding-right: 2rem;
    box-shadow: none;
}

.product-col .product-media {
    display: inline-block;
    margin: 0;
    margin-right: 2.8rem;
    flex-shrink: 0;
    max-width: 60px;
}

.product-col .product-title {
    display: inline-block;
    color: #333;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
    margin: 0;
}

.product-col .product-title a {
    color: inherit;
}

.product-col .product-title a:hover,
.product-col .product-title a:focus {
    color: #da627d;
}

.cart .btn-remove {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    color: #cccccc;
    background-color: transparent;
    font-size: 1.7rem;
    line-height: 1;
    border: none;
    outline: none;
    transition: all .35s;
}

.cart .btn-remove:hover,
.cart .btn-remove:focus {
    color: #333;
}

@media screen and (max-width: 991px) {

    .table-mobile,
    .table-mobile tbody,
    .table-mobile tr,
    .table-mobile td {
        width: 100% !important;
        display: block !important;
    }

    .table-mobile thead {
        display: none !important;
    }

    .table-mobile tr {
        position: relative;
        padding-top: 4.2rem;
        padding-bottom: 4rem;
    }

    .table-mobile .remove-col {
        position: absolute;
        right: 1.5rem;
        top: .5rem;
        padding: .5rem !important;
        width: auto !important;
    }

    .table-mobile tr td {
        text-align: center;
        padding: .1rem 3rem;
        border-bottom: none;
    }

    .table-mobile tr .product-col {
        padding-bottom: .6rem;
    }

    .table-mobile .product-col .product {
        justify-content: center;
    }

    .table-mobile .product-col .product-title {
        text-align: left;
    }

    .table-mobile {
        border: .1rem solid #ebebeb;
    }

    .table-mobile tr:not(:last-child) {
        border-bottom: .1rem solid #ebebeb;
    }

    .table-mobile .cart-product-quantity {
        margin: .5rem auto;
    }

    .product-col .product {
        padding-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .table-mobile .product-col .product-media {
        margin-right: 1.5rem;
    }
}

@media screen and (max-width: 575px) {
    .cart-bottom {
        flex-direction: column;
        margin-bottom: 4rem;
    }

    .cart-bottom .cart-discount .cart .btn {
        margin-top: 0;
    }

    .cart-bottom .cart .btn {
        margin-left: 0 !important;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .cart .col-lg-3 {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }

    .cart .col-lg-9 {
        -ms-flex: 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
    }
}

.table .total-col {
    color: #da627d;
    font-weight: 400;
    font-size: 20px;
}

.table.table-cart .price-col {
    width: 120px;
}

.table.table-cart .total-col {
    width: 80px;
}

.table.table-cart .quantity-col {
    width: 135px;
}

.cart-product-quantity {
    width: 132px;
    margin-right: 17px;
}

.cart-product-quantity .form-control {
    padding: .85rem 2.6rem;
    height: 40px;
    max-width: 100%;
    border-color: #dadada;
    background-color: #fff;
    margin: 0;
}

.input-spinner {
    position: relative;
}

.input-spinner .input-group-prepend,
.input-spinner .input-group-append {
    position: absolute;
    top: 0;
}

.input-spinner .input-group-prepend {
    left: 0;
}

.input-spinner .input-group-append {
    right: 0;
}

.input-spinner .form-control {
    /* padding: .85rem 2.6rem; */
    padding: 0px;
    height: auto;
    border-color: #dadada;
    background-color: #fff;
    margin: 0;
}

.cart .btn.cart .btn-spinner {
    min-width: 0;
    color: #333333;
    padding: 1.25rem .4rem;
    font-size: 1rem;
    border: none;
    background: none;
}

.cart .btn.cart .btn-spinner i {
    margin: 0 !important;
}

.cart .btn.cart .btn-spinner:hover,
.cart .btn.cart .btn-spinner:focus {
    color: #da627d;
}

.cart-bottom {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5rem;
}

.cart-bottom .cart .btn {
    margin-left: auto;
    min-width: 152px;
}

.cart-discount {
    flex: 0 0 50%;
    max-width: 326px;
}

.cart-discount .form-control {
    margin-right: 1.1rem;
}

.cart-discount .cart .btn {
    min-width: 40px;
    padding-left: 0;
    padding-right: 0;
}

.summary.summary-cart {
    margin-bottom: 3rem;
}

.summary.summary-cart .summary-title {
    margin-bottom: 0;
}

.table.table-summary .summary-shipping {
    color: #333;
    font-weight: 400;
    font-size: 20px;
}

.table.table-summary .summary-shipping td {
    padding-top: 2rem;
    padding-bottom: 1.3rem;
    height: auto;
    border-bottom: none;
}

.table.table-summary .summary-shipping-row {
    color: #333;
}

.table.table-summary .summary-shipping-row label {
    color: inherit;
}

.table.table-summary .summary-shipping-row td {
    height: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: none;
}

.table.table-summary .custom-control {
    margin: 0;
}

.table.table-summary .summary-shipping-estimate {
    color: #333;
    font-weight: 400;
    font-size: 20px;
}

.table.table-summary .summary-shipping-estimate td {
    height: auto;
    padding-top: 14px;
    padding-bottom: 2.3rem;
}

.table.table-summary .summary-shipping-estimate a {
    margin-top: .6rem;
    display: inline-block;
    font-weight: 300;
    color: #999;
    font-size: 14px;
    border-bottom: 0.1rem solid #999;
}

.table.table-summary .summary-shipping-estimate a:hover,
.table.table-summary .summary-shipping-estimate a:focus {
    color: #da627d;
    border-bottom-color: #da627d;
}

.summary-cart .table.table-summary tbody td:last-child {
    min-width: 0;
}

.mb-3 {
    margin-bottom: 3rem !important;
}

table.table.table-summary tr,
table.table.table-summary td {
    background-color: transparent;
}

*,
::after,
::before {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button,
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button {
    text-transform: none;
}

[type=submit],
button {
    -webkit-appearance: button;
}

[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none;
    }
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.cart .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .cart .btn {
        transition: none;
    }
}

.cart .btn:hover {
    color: #212529;
    text-decoration: none;
}

.cart .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.cart .btn:disabled {
    opacity: .65;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group>.form-control:focus {
    z-index: 3;
}

.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-append {
    display: -ms-flexbox;
    display: flex;
}

.input-group-append .btn {
    position: relative;
    z-index: 2;
}

.input-group-append .btn:focus {
    z-index: 3;
}

.input-group-append {
    margin-left: -1px;
}

.input-group>.input-group-append>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media print {

    *,
    ::after,
    ::before {
        text-shadow: none !important;
        box-shadow: none !important;
    }
}

::selection {
    color: #fff;
    background-color: #da627d;
}

i {
    font-style: italic;
}

a {
    color: #da627d;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover,
a:focus {
    color: #da627d;
    text-decoration: none;
}


.cart .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .85rem 1.5rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -.01em;
    min-width: 170px;
    border-radius: 0;
    white-space: normal;
    transition: all 0.3s;
}

.cart .btn span {
    line-height: 1;
}

.cart .btn i:first-child {
    margin-right: 1rem;
}

.cart .btn i:last-child {
    margin-left: 1rem;
}

.cart .btn:focus {
    box-shadow: none;
}

.cart .btn:focus,
.cart .btn:active {
    outline: none !important;
}

.cart .btn:active:focus {
    box-shadow: none !important;
}

.cart .btn:active {
    outline: none;
}

.cart .btn-outline-primary-2 {
    color: #da627d;
    background-color: transparent;
    background-image: none;
    border-color: #da627d;
    box-shadow: none;
}

.cart .btn-outline-primary-2:hover,
.cart .btn-outline-primary-2:focus,
.cart .btn-outline-primary-2:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #da627d;
    border-color: #da627d;
    box-shadow: none;
}

.cart .btn-outline-primary-2:disabled {
    color: #da627d;
    background-color: transparent;
}

.cart .btn-outline-dark-2 {
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #ebebeb;
    box-shadow: none;
}

.cart .btn-outline-dark-2:hover,
.cart .btn-outline-dark-2:focus,
.cart .btn-outline-dark-2:not(:disabled):not(.disabled):active {
    color: #da627d;
    background-color: #fafafa;
    border-color: #ebebeb;
    box-shadow: none;
}

.cart .btn-outline-dark-2:disabled {
    color: #333;
    background-color: transparent;
}

.form-control {
    height: 40px;
    padding: .85rem 2rem;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    color: #777;
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 0;
    margin-bottom: 2rem;
    transition: all 0.3s;
    box-shadow: none;
}

.form-control:focus {
    color: #777;
    background-color: #fff;
    border-color: #da627d;
    box-shadow: none;
    outline: none !important;
}

.form-control::placeholder {
    color: #777;
}

button:focus {
    outline: none;
}

@media screen and (max-width: 575px) {
    .cart-bottom {
        flex-direction: column;
        margin-bottom: 4rem;
    }

    .cart-bottom .cart-discount .btn {
        margin-top: 0;
    }

    .cart-bottom .btn {
        margin-left: 0 !important;
        margin-top: 1rem;
    }
}

.cart-bottom {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5rem;
}

.cart-bottom .btn {
    margin-left: auto;
    min-width: 152px;
}

.cart-discount {
    flex: 0 0 50%;
    max-width: 326px;
}

.cart-discount .form-control {
    margin-right: 1.1rem;
}

.cart-discount .btn {
    min-width: 40px;
    padding-left: 0;
    padding-right: 0;
}


td.quantity-col .btn {
    padding: 10px;
}
.cart-product-quantity input.form-control {
    height: 39px;
}
.empty-cart {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.empty-cart .continue-shopping {
    width: 280px;
}
.btn-decrement, .btn-increment{
    border: none !important;
}