*,
::after,
::before {
    box-sizing: border-box;
}

a {
    color: #da627d;
    text-decoration: underline;
}

a:hover {
    color: #024dbc;
}

img {
    vertical-align: middle;
}

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1320px;
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
    row-gap: 10px;
}


@media (min-width:576px) {
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width:768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width:992px) {
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.333333%;
    }
}

* {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

a,
img {
    transition: all 0.3s ease 0s;
}

*:focus {
    outline: none !important;
}

a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.container {
    max-width: 1200px;
}

@media only screen and (max-width: 767px) {
    .container {
        max-width: 576px;
    }
}

@media only screen and (max-width: 479px) {
    .container {
        width: 100%;
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.category-section-blocks {
    text-align: center;
    margin-bottom: 25px;
}

.cat-list-img {
    display: block;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.category-section-blocks a {
    font-weight: 600;
    font-size: 18px;
}

.cat-outer-section {
    padding: 50px 0;
}

.cat-list-img:hover {
    transform: scale(1.03);
    transition: all 0.8s ease;
}

@media only screen and (max-width: 767px) {
    .cat-list-img {
        width: 200px;
        height: 200px;
    }
}

.cat-list-img img{
    width: 300px;
    height: 300px;
}