.product {
  position: relative;
  margin-bottom: 0rem;
  transition: box-shadow 0.35s ease;
  background-color: #fff;
}

.product:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.product-media {
  position: relative;
  display: block;
  background-color: #d7d7d7;
  margin-bottom: 0;
  overflow: hidden;
}

.product-media > a {
  display: block;
}

.product-image {
  display: block;
  width: 100%;
  height: auto;
}

.product-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 10px;
  gap: 4px;
  position: relative;
  transition: all 0.35s ease;
  background-color: #fff;
}

.product-title {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  color: #333333;
  /* white-space: nowrap; */
}

.product-title a {
  color: inherit;
}

.product-title a:hover,
.product-title a:focus {
  color: #1a1a1a;
}

.product-cat {
  color: #777;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 0.3rem;
}

.product-cat a {
  color: inherit;
}

.product-cat a:hover,
.product-cat a:focus {
  color: #666;
}

.product-price {
  /* gap: 5px; */
  display: flex;
  align-items: flex-end;
  flex-flow: wrap;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0rem;
  line-height: 1.25rem;
  color: #1a1a1a;
}

.product-label {
  position: absolute;
  z-index: 1;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.01em;
  padding: 0.25rem;
  min-width: 45px;
  text-align: center;
  color: #333333;
  background-color: #fff;
}

.product-label.label-new {
  color: #fff;
  background-color: #a6c76c;
}

.ratings-container {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  margin-bottom: 1.7rem;
  line-height: 1;
  white-space: nowrap;
}

.ratings {
  position: relative;
  color: #1a1a1a;
}

.ratings-text {
  color: #1a1a1a;
  letter-spacing: -0.01em;
  margin-left: 0.8rem;
  font-size: 16px;
}

.product-action {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10;
  transition: all 0.35s ease;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
}

.product:hover .product-action,
.product:focus .product-action {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.btn-product {
  color: #1a1a1a;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1;
  transition: all 0.35s ease;
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
  flex-grow: 1;
  flex-basis: 0;
}

.btn-product span {
  color: #666666;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.01em;
  transition: all 0.35s ease;
}

.btn-product:hover,
.btn-product:focus {
  outline: none !important;
}

.btn-product:hover span,
.btn-product:focus span {
  color: #1a1a1a;
  box-shadow: 0 1px 0 0 #1a1a1a;
}

.product-action-vertical {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  background-color: transparent;
  z-index: 10;
  visibility: visible;
  opacity: 1;
  transition: all 0.35s ease;
  /* transform: translateX(-15px); */
}

/* .product:hover .product-action-vertical {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
} */

.btn-product-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  padding: 0;
  font-size: 1em;
  line-height: 1;
  transition: all 0.35s ease;
  padding: 0;
  border-radius: 50%;
  color: #000000;
  background-color: #fff;
}

.btn-product-icon-active {
  color: #da627d;
}

.btn-product-icon span {
  display: none;
}

.btn-product-icon:hover,
.btn-product-icon:focus {
  color: #fff;
  background-color: #da627d;
}

.btn-product-icon + .btn-product-icon {
  margin-top: 1rem;
}

.btn-wishlist {
  font-size: 16px;
}

.btn-expandable {
  position: relative;
}

.btn-expandable span {
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  align-items: center;
  display: inline-flex;
  font-weight: 300;
  font-size: 16px;
  white-space: nowrap;
  letter-spacing: 0;
  min-width: 100px;
  padding-left: 18px;
  padding-right: 0.4rem;
  color: #fff;
  background-color: #1a1a1a;
  transition: all 0.35s ease;
  opacity: 0;
  visibility: hidden;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transform: translateX(15px);
  z-index: -1;
}

.btn-expandable:hover,
.btn-expandable:focus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-expandable:hover span,
.btn-expandable:focus span {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.product-nav {
  display: flex;
  align-items: center;
}

.product-nav-thumbs {
  padding-top: 0.2rem;
  margin-bottom: 16px;
}

.product-nav-thumbs a {
  display: flex;
  align-items: center;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 0.2rem;
  border: 0.2rem solid #fff;
  margin-right: 0.4rem;
  transition: box-shadow 0.35s ease;
}

.product-nav-thumbs a.active,
.product-nav-thumbs a:hover,
.product-nav-thumbs a:focus {
  box-shadow: 0 0 0 0.1rem #1a1a1a;
}

.product-nav-thumbs a:last-child {
  margin-right: 0;
}

.product-nav-thumbs img {
  border-radius: 0.2rem;
}

.product.text-center .product-price,
.product.text-center .ratings-container,
.product.text-center .product-nav {
  justify-content: center;
}

.product.product-7 .btn-product {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  color: #1a1a1a;
  background-color: #fff;
  text-transform: uppercase;
  border-bottom: 0.1rem solid #ebebeb;
}

.product.product-7 .btn-product span {
  color: #1a1a1a;
}

.product.product-7 .btn-product:before {
  display: inline-block;
  margin-top: -0.1rem;
}

.product.product-7 .btn-product:hover,
.product.product-7 .btn-product:focus {
  color: #fff;
  background-color: #1a1a1a;
  border-bottom-color: #1a1a1a;
}

.product.product-7 .btn-product:hover span,
.product.product-7 .btn-product:focus span {
  color: #fff;
  box-shadow: none;
}

.product.product-7 .product-nav-thumbs {
  margin-bottom: 1rem;
}

.products > .row > [class*="col-"] {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.products .product {
  width: 100%;
}

.product {
  overflow: hidden;
}

@media (min-width: 992px) {
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .order-lg-first {
    -ms-flex-order: -1;
    order: -1;
  }
}

.collapse:not(.show) {
  display: none;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #80bdff;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-control-input:disabled ~ .custom-control-label {
  color: #6c757d;
}

.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #e9ecef;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.custom-control-label::before {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.custom-control-label::after {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50%/50% 50%;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0.25rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.custom-control-label::before {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .custom-control-label::before {
    transition: none;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

::selection {
  color: #fff;
  background-color: #1a1a1a;
}

h3 {
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 1.4rem;
  color: #333;
  letter-spacing: -0.03em;
}

h3 {
  font-size: 2.6rem;
}

a {
  color: #1a1a1a;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover,
a:focus {
  color: #bf8040;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 3rem;
  }
}

.col-lg-3 {
  padding-right: 10px;
  padding-left: 10px;
}

label {
  color: #666;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

.custom-control {
  position: relative;
  padding-left: 2.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.custom-control-label {
  position: static;
  margin-bottom: 0;
  margin-top: 0.1rem;
  font-size: 1.4rem;
  padding-left: 2.6rem;
  margin-left: -2.6rem;
}

.custom-control-label::before {
  left: 0;
  top: 0.6rem;
  width: 16px;
  height: 16px;
  background-color: #f9f9f9;
  border: 1px solid #dadada;
  box-shadow: none !important;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #dadada;
}

.custom-control-label::after {
  left: 0;
  top: 0.6rem;
  width: 16px;
  height: 16px;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.custom-checkbox .custom-control-label::after {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image: none;
  font-size: 1rem;
  content: "\ec2d";
  line-height: 1;
  text-align: center;
  opacity: 0;
  margin-top: 0.1rem;
  visibility: hidden;
  transition: opacity 0.01s;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #333;
  background-color: #333;
}

.custom-checkbox
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background-color: rgba(51, 51, 51, 0.5);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
  opacity: 1;
  visibility: visible;
}

.sidebar-shop .widget {
  color: #333;
  margin: 0 0 1rem;
  border-bottom: 0.1rem solid #ebebeb;
}

.sidebar-shop .widget:last-child {
  border-bottom: none;
}

.sidebar-shop .widget-title {
  color: #333;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: -0.01em;
  margin-bottom: 0.7rem;
}

.sidebar-shop .custom-control {
  padding-left: 2.7rem;
  margin: 0;
}

.sidebar-shop .custom-control-label {
  font-weight: 400;
  color: #333;
  cursor: pointer;
}

.sidebar-shop .custom-control-label::before {
  border-radius: 0.2rem;
}

.widget-clean {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2.1rem;
}

.widget-clean label {
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
  margin: 0;
}

.widget-clean a {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  margin-left: auto;
}

.widget-collapsible .widget-title a {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  padding-right: 3rem;
}

.widget-collapsible .widget-title a:focus {
  outline: none !important;
}

.widget-collapsible .widget-body {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.filter-item {
  position: relative;
  margin-bottom: 0.8rem;
}

.filter-items-count .filter-item {
  padding-right: 4rem;
}

.filter-items-count .item-count {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 50%;
  min-width: 2.5rem;
  height: 2rem;
  margin-top: -1rem;
  font-weight: 300;
  font-size: 13px;
  line-height: 1;
  border-radius: 0.6rem;
  color: #777;
  background-color: #f8f8f8;
}

.filter-colors {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
}

.filter-colors a {
  position: relative;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: 0.2rem solid #fff;
  margin: 0 0.3rem 0.3rem;
  transition: box-shadow 0.35s ease;
}

.filter-colors a:after {
  color: #fff;
  font-size: 1rem;
  line-height: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.01s;
  margin-top: -0.4rem;
  margin-left: -0.5rem;
}

.filter-colors a.selected,
.filter-colors a:hover,
.filter-colors a:focus {
  box-shadow: 0 0 0 0.1rem #1a1a1a;
}

.filter-colors a.selected:after {
  visibility: visible;
  opacity: 1;
}

.filter-price {
  padding-top: 0.2rem;
  padding-bottom: 3rem;
}

.filter-price-text {
  margin-bottom: 2rem;
  letter-spacing: -0.01em;
}

#filter-price-range {
  color: #1a1a1a;
}

.widget {
  margin-bottom: 4.5rem;
}

.sidebar-product {
  margin-top: 3rem;
}

.sidebar-product .widget:last-child {
  margin-bottom: 1.5rem;
}

.widget-title {
  color: #333;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .sidebar-product {
    margin-top: -0.3rem;
  }
}

.sidebar-filter-clear {
  text-transform: capitalize;
  margin-left: auto;
}

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
  left: auto;
  right: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-horizontal {
  height: 0.3rem;
}

.noUi-horizontal .noUi-handle {
  width: 1.5rem;
  height: 1.5rem;
  left: -0.75rem;
  top: 50%;
  margin-top: -0.65rem;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -1.4rem;
  left: auto;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle.noUi-handle-upper {
  right: -0.75rem;
}

.noUi-target {
  background: #ebebeb;
  border-radius: 6px;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #333;
}

.noUi-handle {
  border: 0.1rem solid #555555;
  border-radius: 50%;
  background: #fff;
  cursor: default;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  color: #333333;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.01em;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  top: 100%;
  margin-top: 1rem;
}

.select-custom {
  position: relative;
  margin-bottom: 1rem;
}

.select-custom select {
  -webkit-appearance: none;
  appearance: none;
}

.select-custom .form-control {
  padding-right: 4rem;
}

.toolbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 2rem;
}

.toolbox::after {
  display: block;
  clear: both;
  content: "";
}

.toolbox .select-custom {
  margin-bottom: 0;
}

.toolbox .select-custom::after {
  right: 0.9rem;
  font-size: 1rem;
}

.toolbox .select-custom .form-control {
  font-size: 18px;
  padding-right: 2rem;
  background-color: #fff;
  border-color: #e4e4e4;
}

.toolbox label {
  font-weight: 400;
  color: #333;
  font-size: 18px;
  letter-spacing: -0.01em;
  margin: 0;
}

.toolbox .form-control {
  color: #999;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 0.45rem 1rem;
  height: 30px;
  margin-bottom: 0;
}

.toolbox .form-control:not(:focus) {
  border-color: #d7d7d7;
}

.toolbox-left,
.toolbox-right {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  flex-wrap: wrap;
}

.toolbox-right {
  margin-top: 1rem;
  flex-direction: column;
}

.toolbox-info {
  color: #ccc;
}

.toolbox-info span {
  color: #333;
}

.toolbox-sort {
  display: flex;
  align-items: center;
}

.toolbox-sort label {
  margin-right: 16px;
}

.toolbox-layout {
  margin-top: 1rem;
}

.btn-layout {
  display: inline-flex;
  padding: 0.5rem;
}

.btn-layout + .btn-layout {
  margin-left: 0.5rem;
}

.btn-layout svg {
  fill: #dadada;
  transition: fill 0.35s;
}

.btn-layout:hover svg,
.btn-layout:focus svg,
.btn-layout.active svg {
  fill: #333;
}

@media screen and (min-width: 576px) {
  .toolbox-right {
    flex-direction: row;
  }

  .toolbox-layout {
    margin-top: 0;
    margin-right: -0.5rem;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .toolbox {
    flex-direction: row;
  }

  .toolbox-right {
    margin-top: 0;
    justify-content: flex-end;
  }
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 0;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.pagination {
  border-radius: 0;
  align-items: center;
  margin-bottom: 2rem;
}

.page-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
  height: 2rem;
  font-weight: 400;
  font-size: 14px;
  padding: 0 0.3rem;
  line-height: 1;
  color: black;
  border-radius: 0.3rem;
  background-color: transparent;
  border: 0.1rem solid transparent;
}

.page-link i {
  font-size: 1.5rem;
}

.page-link.page-link-prev i {
  margin-left: 0;
  margin-right: 1rem;
}

.page-link.page-link-next {
  margin-left: 1.8rem;
}

.page-link.page-link-next i {
  margin-left: 1rem;
  margin-right: 0;
}

.page-link.page-link-prev,
.page-link.page-link-next {
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 70px;
}

.page-link:hover,
.page-link:focus {
  box-shadow: none;
  color: #1a1a1a;
  border-color: #ebebeb;
  text-decoration: none;
  background-color: transparent;
  outline: none !important;
}

.page-item-total {
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 400;
  margin-left: 1.2rem;
}

.page-item + .page-item {
  margin-left: 0.4rem;
}

.page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.page-item.active .page-link {
  background-color: transparent;
  border-color: #ebebeb;
}

.page-item.disabled .page-link {
  border-color: transparent;
  color: black;
}

.custom-control.custom-checkbox {
  display: flex;
  padding-left: 0;
  align-items: center;
  gap: 20px;
}

.custom-checkbox input {
  height: 20px;
  width: 20px;
}
span.defaultPrice.strikeout {
  text-decoration: line-through;
  text-decoration-color: red;
  color: #666;
  font-size: 14px;
}
