.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}

.btn-cart {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.btn-wishlist {
  display: inline-block;
  font-weight: 400;
  cursor: pointer;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn:disabled {
  opacity: 0.65;
}

.fade {
  transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}

.fade:not(.show) {
  opacity: 0;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.input-group > .form-control {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group > .form-control:focus {
  z-index: 3;
}

.input-group > .form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-append,
.input-group-prepend {
  display: -ms-flexbox;
  display: flex;
}

.input-group-append .btn,
.input-group-prepend .btn {
  position: relative;
  z-index: 2;
}

.input-group-append .btn:focus,
.input-group-prepend .btn:focus {
  z-index: 3;
}

.input-group-prepend {
  margin-right: -1px;
}

.input-group-append {
  margin-left: -1px;
}

.input-group > .input-group-prepend > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .input-group-append > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active {
  color: #fff;
  background-color: #007bff;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.text-center {
  text-align: center !important;
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav [class*="owl-"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-simple .owl-nav {
  margin-top: 0;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-simple .owl-nav [class*="owl-"] {
  position: absolute;
  top: 50%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  margin: 0;
  margin-top: -21px;
  color: #ccc;
  font-size: 30px;
  line-height: 1;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.owl-simple .owl-nav [class*="owl-"] i {
  margin-top: 0.1rem;
}

.owl-simple .owl-nav [class*="owl-"]:not(.disabled):hover {
  color: #1a1a1a;
  background: transparent;
  text-decoration: none;
}

.owl-simple .owl-nav .disabled {
  opacity: 0.7;
  cursor: default;
}

.owl-simple .owl-nav .owl-prev {
  left: -50px;
}

.owl-simple .owl-nav .owl-next {
  right: -50px;
}

.owl-simple .owl-dots {
  line-height: 0;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col,
.col-auto,
.col-md-6 {
  padding-right: 10px;
  padding-left: 10px;
}

.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.container {
  width: 1188px;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.main {
  flex: 1;
  width: 100%;
}

.page-content {
  padding-bottom: 5rem;
}

.title {
  font-size: 2.2rem;
  letter-spacing: -0.03em;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
  }
}

.nav-link:focus {
  outline: none !important;
}

.tab-pane {
  padding: 14px 2.2rem;
}

.tab-pane p:last-child {
  margin-bottom: 0;
}

.nav.nav-pills .nav-link {
  color: #777;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  padding: 0.45rem 1rem;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-bottom: 0.1rem solid transparent;
  background-color: transparent;
  transition: all 0.35s ease;
}

.nav.nav-pills .nav-link:hover,
.nav.nav-pills .nav-link:focus {
  color: #1a1a1a;
}

.nav.nav-pills .nav-link:focus {
  outline: none !important;
}

.nav.nav-pills .nav-item + .nav-item {
  margin-left: 1rem;
}

.nav.nav-pills .nav-item .nav-link.active {
  color: #1a1a1a;
  border-color: #d7d7d7;
  border-bottom-color: #1a1a1a;
}

.nav-pills + .tab-content .tab-pane {
  padding: 14px 0;
}

.nav-pills + .tab-content .tab-pane p:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  .nav-pills + .tab-content .tab-pane {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.85rem 1.5rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  min-width: 170px;
  border-radius: 0;
  white-space: normal;
  transition: all 0.3s;
}

.btn i:first-child {
  margin-right: 1rem;
}

.btn i:last-child {
  margin-left: 1rem;
}

.btn:focus {
  box-shadow: none;
}

.btn:focus,
.btn:active {
  outline: none !important;
}

.btn:active:focus {
  box-shadow: none !important;
}

.btn:active {
  outline: none;
}

.product {
  position: relative;
  margin-bottom: 1rem;
  transition: box-shadow 0.35s ease;
  background-color: #fff;
}

.owl-carousel .product {
  margin-bottom: 0 !important;
}

.product:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.product-media {
  position: relative;
  display: block;
  background-color: #d7d7d7;
  margin-bottom: 0;
  overflow: hidden;
}

.product-media > a {
  display: block;
}

.product-image {
  display: block;
  width: 100%;
  height: auto;
}

.product-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem 10px;
  gap: 4px;
  width: 215px;
  position: relative;
  transition: all 0.35s ease;
  background-color: #fff;
}

.product-title {
  font-weight: 400;
  font-size: 16px;
  width: 215px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #333333;
  margin-bottom: 0.2rem;
}

.product-title a {
  color: inherit;
}

.product-title a:hover,
.product-title a:focus {
  color: #1a1a1a;
}

.product-cat {
  color: #777;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 0.3rem;
  display: flex;
}

.product-cat a {
  color: inherit;
}

.product-cat a:hover,
.product-cat a:focus {
  color: #666;
}

.product-price {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0rem;
  line-height: 1.25rem;
  color: #1a1a1a;
}

.product-price-red{
  color: #d9000c !important;
  font-weight: 700 !important;
}

.out-price {
  color: #cccccc;
}

.product-label {
  position: absolute;
  z-index: 1;
  bottom: 0.5rem;
  left: 0.05rem;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: -0.01em;
  padding: 0.5rem 0.9rem;
  min-width: 45px;
  text-align: center;
  color: #333333;
  background-color: #fff;
}

.product-label.label-new {
  color: #fff;
  background-color: #a6c76c;
}

.product-label.label-top {
  color: #fff;
  background-color: #7dd2ea;
}

.product-label.label-out {
  color: #fff;
  background-color: red;
}

.ratings-container {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 1.7rem;
  line-height: 1;
  white-space: nowrap;
}

.ratings {
  position: relative;
  color: #cccccc;
}

.ratings,
.ratings-val {
  display: flex;
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 1;
  color: #1a1a1a;
}

.ratings-val {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fcb941;
}

.ratings-text {
  color: #cccccc;
  letter-spacing: -0.01em;
  margin-left: 0.8rem;
}

.product-action {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10;
  transition: all 0.35s ease;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
}

.product:hover .product-action,
.product:focus .product-action {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.btn-product {
  color: #1a1a1a;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 1;
  transition: all 0.35s ease;
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
  flex-grow: 1;
  flex-basis: 0;
}

.btn-product + .btn-product {
  border-left: 0.1rem dotted #e5e5e5;
}

.btn-product:before {
  margin-right: 0.9rem;
}

.btn-product span {
  color: #666666;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.01em;
  transition: all 0.35s ease;
}

.btn-product:hover,
.btn-product:focus {
  outline: none !important;
}

.btn-product:hover span,
.btn-product:focus span {
  color: #1a1a1a;
  box-shadow: 0 1px 0 0 #1a1a1a;
}

.product-action-vertical {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  background-color: transparent;
  z-index: 10;
  visibility: visible;
  opacity: 1;
  transition: all 0.35s ease;
  /* transform: translateX(-15px); */
}

/* .product:hover .product-action-vertical {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
} */

.btn-product-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-size: 1em;
  line-height: 1;
  transition: all 0.35s ease;
  padding: 0;
  border-radius: 50%;
  color: #1a1a1a;
  background-color: #fff;
}

.btn-product-icon:before {
}

.btn-product-icon span {
  display: none;
}

.btn-product-icon:hover,
.btn-product-icon:focus {
  color: #fff;
  background-color: #1a1a1a;
}

.btn-product-icon + .btn-product-icon {
  margin-top: 1rem;
}

.btn-expandable {
  position: relative;
}

.btn-expandable span {
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  align-items: center;
  display: inline-flex;
  font-weight: 300;
  font-size: 16px;
  white-space: nowrap;
  letter-spacing: 0;
  min-width: 100px;
  padding-left: 1.8rem;
  padding-right: 0.4rem;
  color: #fff;
  background-color: #1a1a1a;
  transition: all 0.35s ease;
  opacity: 0;
  visibility: hidden;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transform: translateX(15px);
  z-index: -1;
}

.btn-expandable:hover,
.btn-expandable:focus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-expandable:hover span,
.btn-expandable:focus span {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.product-nav {
  display: flex;
  align-items: center;
}

.product-nav-thumbs {
  padding-top: 0.2rem;
  margin-bottom: 16px;
}

.product-nav-thumbs a {
  display: flex;
  align-items: center;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 0.2rem;
  border: 0.2rem solid #fff;
  margin-right: 0.4rem;
  transition: box-shadow 0.35s ease;
}

.product-nav-thumbs a.active,
.product-nav-thumbs a:hover,
.product-nav-thumbs a:focus {
  box-shadow: 0 0 0 0.1rem #cccccc;
}

.product-nav-thumbs a:last-child {
  margin-right: 0;
}

.product-nav-thumbs img {
  border-radius: 0.2rem;
}

.product.text-center .product-price,
.product.text-center .ratings-container,
.product.text-center .product-nav {
  justify-content: center;
}

.product.product-7 .btn-product {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #1a1a1a;
  background-color: #fff;
  text-transform: uppercase;
  border-bottom: 0.1rem solid #ebebeb;
}

.product.product-7 .btn-product span {
  color: #1a1a1a;
}

.product.product-7 .btn-product:before {
  display: inline-block;
  margin-top: -0.1rem;
}

.product.product-7 .btn-product:hover,
.product.product-7 .btn-product:focus {
  color: #fff;
  background-color: #1a1a1a;
  border-bottom-color: #1a1a1a;
}

.product.product-7 .btn-product:hover span,
.product.product-7 .btn-product:focus span {
  color: #fff;
  box-shadow: none;
}

.product.product-7 .product-nav-thumbs {
  margin-bottom: 1rem;
}

.social-icons {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: 5px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 4rem;
  height: 4rem;
  color: #777;
  margin: 0;
  background-color: transparent;
  border: 0.1rem solid #e1e2e6;
  border-radius: 50%;
  text-decoration: none;
  opacity: 1;
  transition: all 0.35s ease;
}

.social-icon:not(:last-child) {
  margin-right: 1rem;
}

.social-icon:hover,
.social-icon:focus {
  color: #1a1a1a;
  border-color: #1a1a1a;
  background-color: transparent;
}

.social-label {
  margin-bottom: 0;
  margin-right: 2rem;
}

.social-icons-sm .social-icon {
  font-size: 1.2rem;
  width: 3rem;
  height: 3rem;
}

.social-icons-sm .social-icon:not(:last-child) {
  margin-right: 0.5rem;
}

.social-icons-sm .social-label {
  margin-right: 1rem;
}

.form-control {
  height: 40px;
  padding: 0.85rem 2rem;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  color: #777;
  background-color: #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 0;
  margin-bottom: 2rem;
  transition: all 0.3s;
  box-shadow: none;
}

select.form-control:not([size]):not([multiple]) {
  height: 40px;
}

.form-control:focus {
  color: #777;
  background-color: #fff;
  border-color: #1a1a1a;
  box-shadow: none;
  outline: none !important;
}

.form-control::placeholder {
  color: #777;
}

label {
  color: #666;
  font-weight: 300;
  font-size: 14px;
  margin: 0 0 15px;
}

.select-custom {
  position: relative;
  margin-bottom: 1rem;
}

.select-custom select {
  -webkit-appearance: none;
  appearance: none;
}

.select-custom .form-control {
  padding-right: 4rem;
}

button:focus {
  outline: none;
}

.nav.nav-pills .nav-link {
  font-size: 16px;
}

.carousel-with-shadow .owl-stage-outer {
  padding: 0 1rem 2rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -3rem;
  padding-top: 3rem;
}

.carousel-with-shadow.owl-simple .owl-nav [class*="owl-"] {
  margin-top: -31px;
}

.product {
  overflow: hidden;
}

.carousel-equal-height .owl-stage,
.carousel-equal-height .owl-item {
  display: flex;
  align-items: stretch;
}

.carousel-equal-height .product {
  width: 100%;
}

.product-details-top {
  margin-bottom: 5rem;
}

.product-gallery {
  margin-bottom: 2rem;
}

.product-main-image {
  position: relative;
  margin-bottom: 1rem;
}

.product-main-image img {
  max-width: none;
  width: 100%;
}

.btn-product-gallery {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 49;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 4rem;
  height: 4rem;
  color: #777;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1;
  background-color: #fff;
  box-shadow: 2px 6px 16px rgba(51, 51, 51, 0.05);
  transition: all 0.35s ease;
}

.btn-product-gallery:hover,
.btn-product-gallery:focus {
  color: #fff;
  background-color: #1a1a1a;
}

.product-image-gallery {
  display: flex;
  flex-flow: row wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.product-gallery-item {
  position: relative;
  display: block;
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
}

.product-gallery-item img {
  max-width: none;
  width: 100%;
}

.product-gallery-item:before,
.product-gallery-item:after {
  content: "";
  display: block;
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  top: 0;
  bottom: 0;
  transition: all 0.35s ease;
}

.product-gallery-item:before {
  opacity: 0;
  visibility: hidden;
  border: 0.1rem solid #1a1a1a;
}

.product-gallery-item:after {
  visibility: visible;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}

.product-gallery-item.active:before {
  visibility: visible;
  opacity: 1;
}

.product-gallery-item:hover:after,
.product-gallery-item.active:after {
  opacity: 0;
  visibility: hidden;
}

.product-gallery-vertical .row {
  margin-left: 0;
  margin-right: 0;
}

.product-gallery-vertical .product-image-gallery,
.product-gallery-vertical .product-main-image {
  width: 100%;
}

.product-gallery-vertical .product-image-gallery {
  width: calc(100% + 10px);
}

.product-details {
  margin-bottom: 2rem;
}

.product-brand {
  color: #66676e;
  font-size: 1.2rem;
  letter-spacing: -0.015rem;
  line-height: 2rem;
  font-weight: 400;
}

.product-name {
  font-weight: 700 !important;
  font-size: 1.75rem !important;
  line-height: 2rem !important;
  letter-spacing: -0.0175rem;
  margin-bottom: 1.2rem;
  margin-top: -0.5rem;
  width: 100%;
  padding-right: 1rem;
}

.product-details .ratings-container {
  margin-bottom: 18px;
}

.product-offerprice {
  font-size: 1.375rem;
  letter-spacing: -0.01375rem;
  line-height: 1.75rem;
  color: #d9000c;
  font-weight: 700;
  margin-top: -0.5rem;
}

.product-offerprice > span {
  font-size: 0.875rem;
  color: #666;
  letter-spacing: 0rem;
  line-height: 1.75rem;
}

.product-orgprice {
  font-size: 0.875rem;
  letter-spacing: 0rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #66676e;
}

.product-orgprice-strike {
  text-decoration: line-through;
}

.product-offer-percentage{
  font-size: 0.875rem;
  letter-spacing: 0rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #d9000c;
}

.product-indprice {
  font-size: 1.375rem;
  letter-spacing: -0.01375rem;
  line-height: 1.75rem;
  color: #212529;
  font-weight: 700;
  margin-top: -0.5rem;
}

.product-indprice > span {
  font-size: 0.875rem;
  color: #666;
  letter-spacing: 0rem;
  line-height: 1.75rem;
}

.product-details .product-content {
  margin-bottom: 16px;
}

.product-details .product-content p:last-child {
  margin-bottom: 0;
}

.product-details .product-cat {
  font-weight: 400;
  font-size: 14px;
}

.product-details .product-cat span {
  margin-right: 0.7rem;
}

.product-details .product-cat a {
  color: #666;
  box-shadow: none;
  transition: all 0.35s ease;
}

.product-details .product-cat a:hover,
.product-details .product-cat a:focus {
  color: #1a1a1a;
  box-shadow: 0 1px 0 #1a1a1a;
}

.details-filter-row {
  display: flex;
  align-items: flex-end;
  flex-flow: row wrap;
  margin-bottom: 20px;
  gap: 10px;
}

.details-filter-row .form-control {
  font-weight: 700;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: transparent;
  border-color: #1a1a1a;
  min-width: 131px;
  color: #1a1a1a;
}

.details-filter-row .select-custom {
  margin-bottom: 0;
  margin-right: 3.9rem;
}

.details-filter-row .select-custom .form-control {
  padding-right: 3rem;
}

.details-filter-row .select-custom::after {
  font-size: 1rem;
  right: 0.9rem;
}

.details-filter-row label {
  display: inline-block;
  width: 67px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
}

.details-filter-row .product-nav {
  margin-bottom: 0;
}

.details-filter-row .product-nav-thumbs {
  padding-top: 0;
}

.size-guide {
  color: #777;
  display: inline-flex;
  align-items: center;
}

.size-guide i {
  font-size: 1.8rem;
  margin-right: 0.7rem;
}

.size-guide:hover,
.size-guide:focus {
  color: #1a1a1a;
}

.product-detail-variant-wrapper{
  margin-top: 2.25rem;
  margin-bottom: 3rem;
}

.product-detail-color{
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0rem;
  line-height: 1.25rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
.product-detail-color > span{
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0rem;
  line-height: 1.25rem;
  margin: 0;
}

.product-detail-variants{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.product-detail-variants > img {
  width: 70px;
  height: 100px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.product-detail-variants > img:hover {
  width: 70px;
  height: 100px;
  margin-bottom: 1rem;
  cursor: pointer;
  border: 2px solid #000000;
}

.product-detail-variants-img-active {
  border: 2px solid #000000;
}

.product-details-quantity {
  /* max-width: 131px; */
  margin-top: 40px;
  position: relative;
}

.product-details-quantity .form-control {
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  margin-bottom: 0;
}

.product-details-action {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 1.5rem;
  gap: 7px;
}

.product-details-action .btn-cart {
  padding: 10px;
  /* max-width: 198px; */
  color: #ffffff;
  border: 0.1rem solid #1a1a1a;
  background-color: #1a1a1a;
  display: flex;
}

.product-details-action .btn-wishlist {
  padding: 10px;
  /* max-width: 198px; */
  color: #1a1a1a;
  border: 0.1rem solid #1a1a1a;
  display: flex;
}

.product-details-action .btn-cart span {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.01rem;
  color: inherit;
  white-space: nowrap;
  box-shadow: none;
  transition: box-shadow 0.35s ease, color 0s ease;
}

.product-details-action .btn-wishlist span {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.01rem;
  color: inherit;
  white-space: nowrap;
  box-shadow: none;
  transition: box-shadow 0.35s ease, color 0s ease;
}

.product-details-action .btn-cart:before {
  margin-right: 0.4rem;
}

.product-details-action .btn-wishlist:before {
  margin-right: 0.4rem;
}

.product-details-action .btn-cart:hover,
.product-details-action .btn-cart:focus {
  color: #fff;
  border-color: #1a1a1a;
  background-color: #1a1a1a;
}

.product-details-action .btn-wishlist:hover,
.product-details-action .btn-wishlist:focus {
  color: #fff;
  border-color: #1a1a1a;
  background-color: #1a1a1a;
}

.details-action-wrapper {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.details-action-wrapper .btn-product {
  padding-top: 0;
  padding-bottom: 0;
  white-space: nowrap;
  align-self: stretch;
  line-height: 1.4;
}

.details-action-wrapper .btn-product:before {
  margin-right: 1rem;
}

.details-action-wrapper .btn-product.btn-wishlist:before {
  margin-top: -0.2rem;
}

.details-action-wrapper .btn-product span {
  font-size: 14px;
}

.details-action-wrapper .btn-product + .btn-product {
  padding-left: 18px;
  margin-left: 16px;
}

.product-details-footer {
  color: #777;
  display: flex;
  font-weight: 400;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1.7rem;
  border-top: 0.1rem solid #ebebeb;
  padding-bottom: 1.7rem;
}

.product-details-footer .social-icons {
  margin-left: auto;
}

.product-details-footer .social-icon {
  margin-bottom: 0;
}

.product-details-tab {
  margin-bottom: 5rem;
}

.product-details-tab .nav.nav-pills .nav-link {
  color: #333333;
  font-size: 20px;
  padding: 0.55rem 3rem;
  border-bottom-width: 0.2rem;
  text-transform: capitalize;
}

.product-details-tab .nav.nav-pills .nav-link:hover,
.product-details-tab .nav.nav-pills .nav-link:focus {
  color: #1a1a1a;
  border-bottom-color: #1a1a1a;
}

.product-details-tab .nav.nav-pills .nav-item + .nav-item {
  margin-left: 2rem;
}

.product-details-tab .tab-content {
  border: 0.1rem solid #dadada;
  margin-top: -0.1rem;
  border-radius: 0.3rem;
}

.product-details-tab .tab-content .tab-pane {
  padding: 2.7rem 3rem;
}

.product-desc-content h3 {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
  margin-bottom: 1.8rem;
}

.product-desc-content ul {
  color: #333333;
}

.product-desc-content ul li {
  position: relative;
  padding-left: 18px;
}

.product-desc-content ul li:before {
  content: "•";
  position: absolute;
  display: block;
  top: 0;
  left: 0.2rem;
}

.product-desc-content a {
  color: #333;
  border-bottom: 0.1rem solid #b8b8b8;
  transition: all 0.35s ease;
}

.product-desc-content a:hover,
.product-desc-content a:focus {
  color: #1a1a1a;
  border-bottom-color: #1a1a1a;
}

.reviews h3 {
  font-size: 16px;
  letter-spacing: -0.01em;
  margin-bottom: 2.3rem;
}

.review {
  padding-bottom: 18px;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid #ebebeb;
}

.review:last-child {
  margin-bottom: 0;
}

.review .col-auto {
  width: 120px;
  padding-right: 2rem;
}

.review h4 {
  color: #333;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  margin-bottom: 0.8rem;
}

.review h4 a {
  color: inherit;
}

.review h4 a:hover,
.review h4 a:focus {
  color: #1a1a1a;
}

.review .ratings-container {
  padding-top: 0.7rem;
  margin-bottom: 0.5rem;
}

.review .review-date {
  color: #ccc;
}

.review-content {
  margin-bottom: 0.8rem;
}

.review-action {
  font-size: 1.2rem;
}

.review-action a {
  color: #777;
  transition: all 0.35s ease;
}

.review-action a:hover,
.review-action a:focus {
  color: #1a1a1a;
  box-shadow: 0 1px 0 #1a1a1a;
}

.review-action a + a {
  margin-left: 16px;
}

.review-action i {
  font-size: 14px;
  margin-right: 0.6rem;
}

.product-details-policy {
  padding: 0.675rem;
  text-align: center;
  margin-bottom: 0;
  border: 1px solid;
  cursor: pointer;
  border-radius: 5px;
}

.product-details-qnty-item {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px;
  font-size: 16px;
  z-index: -1;
  font-weight: 700;
  left: 20%;
}

.product-details-tab-wrapper {
  margin-top: 3rem;
}

.product-details-tab-list {
  border-left: none;
  border-right: none;
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid transparent; /* Add this line */
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.15s ease, border-color 0.15s ease;
}

.product-details-tab-list:hover {
  background-color: #d1d1d1;
  border-color: #66676e;
}

.product-details-tab-list > p {
  margin: 0;
  font-size: 1rem;
  letter-spacing: -0.01rem;
  line-height: 1.5rem;
  font-weight: 800;
}


.product-details-tab-html {
  font-weight: 400;
  padding: 20px 20px;
  letter-spacing: 0rem;
  line-height: 1.5rem;
  color: #666;
}

.product-details-tab-description {
  font-size: 14px !important;
  font-weight: 400;
  letter-spacing: 0rem;
  line-height: 1.5rem;
  color: #666;
}

.product-details-footer-privacy {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #007bff;

}

.product-details-footer-privacy > p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  color: #007bff;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .product-gallery-vertical .row {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    flex-direction: row-reverse;
  }

  .product-gallery-vertical .btn-product-gallery {
    right: 2.5rem;
  }

  .product-gallery-vertical .product-image-gallery,
  .product-gallery-vertical .product-main-image {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .product-gallery-vertical .product-main-image {
    flex: 0 0 80%;
    max-width: 80%;
  }

  .product-gallery-vertical .product-image-gallery {
    width: auto;
    flex: 0 0 20%;
    max-width: 20%;
    margin-left: 0;
    margin-right: 0;
  }

  .product-gallery-vertical .product-gallery-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1rem;
  }

  .product-gallery-vertical .product-gallery-item:before,
  .product-gallery-vertical .product-gallery-item:after {
    left: 0;
    right: 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .details-action-wrapper {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-details-action {
    /* flex-direction: column; */
    align-items: center;
  }

  .details-action-wrapper {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .product-details-action .btn-cart {
    min-width: 198px;
  }

  .product-details-action .btn-wishlist {
    min-width: 198px;
  }

  .product-details-tab .nav.nav-pills .nav-item + .nav-item {
    margin-left: 1rem;
  }

  .product-details-tab .nav.nav-pills .nav-item .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .product-name {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 575px) {
  .product-details-tab .nav.nav-pills .nav-item + .nav-item {
    margin-left: 0;
  }
  .product-name {
    width: 90%;
  }
}

@media screen and (max-width: 580px) {
  .product-details-action {
    /* flex-direction: column; */
    align-items: center;
  }

  .details-action-wrapper {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .product-details-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-details-footer .social-icons {
    margin-left: 0;
    margin-top: 1rem;
  }

  .review .row {
    flex-direction: column;
  }

  .details-filter-row .select-custom {
    margin-right: 1.5rem;
  }

  .product-details-action .btn-cart {
    min-width: 198px;
  }

  .product-details-action .btn-wishlist {
    min-width: 198px;
  }
}

.product-image-gallery {
  height: 650px;
  overflow: auto;
}

.product-image-gallery::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width:1150px) {
  .product-image-gallery{
    height: 580px;
    overflow: auto;
  }
}

@media screen and (max-width:1020px) {
  .product-image-gallery{
    height: 528px;
    overflow: auto;
  }
}

@media screen and (max-width:992px) {
  .product-image-gallery{
    height: 100%;
    overflow: auto;
    display: flex;
    flex-flow: nowrap
  }
}

@media screen and (max-width:800px) {
  .product-image-gallery{
    height: 100%;
    overflow: auto;
  }
  
}