/* Pagination css */
.pagination-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  list-style: none;
}

.page-item {
  margin: 0 5px;
}

.page-link:hover {
  color: #1a1a1a;
}

.page-link {
  padding: 5px 10px;
  cursor: pointer;
  color: #1a1a1a;
}

.page-item.active .page-link {
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
}

td.actions-order svg {
  margin-left: 5px;
  margin-right: 5px;
}
