*,
::after,
::before {
  box-sizing: border-box;
}

b {
  font-weight: bolder;
}

a {
  color: #da627d;
  text-decoration: underline;
}

a:hover {
  color: #1a1a1a;
}

img {
  vertical-align: middle;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

* {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

a,
img,
span {
  transition: all 0.3s ease 0s;
}

*:focus {
  outline: none !important;
}

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.name {
  position: sticky;
  bottom: 0px;
  font-size: 18px;
  color: black;
  padding-top: 1rem;
}

.member img {
  width: auto;
  display: block;
  height: 441px;
  object-fit: cover;
}

#design-cast .name {
  margin-top: 15px;
}

.popular-sec .member .name span {
  float: right;
}

@media only screen and (max-width: 991px) {
  .name {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .member {
    margin-bottom: 10px;
  }

  .member img {
    height: auto;
  }

  .name.popular-description {
    margin-bottom: 3rem;
  }
}
